<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Binary.Properties.Configurations" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Binary.Properties.Configurations>
            <setting name="ThemeFile" serializeAs="String">
                <value>StackedDeck.json</value>
            </setting>
            <setting name="LaunchFile" serializeAs="String">
                <value />
            </setting>
            <setting name="Watermark" serializeAs="String">
                <value>Binarius | Automated</value>
            </setting>
            <setting name="AutoBackups" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoonFeature" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CurrentGame" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DisableAdminWarning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HideEmptyManagers" serializeAs="String">
                <value>False</value>
            </setting>
        </Binary.Properties.Configurations>
    </userSettings>
</configuration>