[submodule "Modules/Endscript"]
	path = Modules/Endscript
	url = git@github.com:NFSCO/Endscript.git
[submodule "Modules/ILWrapper"]
	path = Modules/ILWrapper
	url = git@github.com:NFSCO/ILWrapper.git
[submodule "Modules/Nikki"]
	path = Modules/Nikki
	url = git@github.com:NFSCO/Nikki.git
[submodule "Modules/CoreExtensions"]
	path = Modules/CoreExtensions
	url = git@github.com:NFSCO/CoreExtensions.git
